form{
    width: 360px;
    height:596px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 248, 230);
    gap:10px;

}

input{
    width: 300px;
    height:40px;
    padding:12px 8px;
    border-radius: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    background-color: #288FB4;
    color:white;
    width: 300px;
    height: 62px;
    padding:24px 12px;
    border-radius: 10px;
}

/* modal pencere */
.modal{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(94, 94, 94, 0.55);
    
}